<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Roberto Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  </head>

  </head>
  <body ng-app="repoApp">
    <div ng-controller="Ctrl">
      <div id="instructions">
        <!--Image-->
        <img id="gif" src="octocat.gif" alt="This will display an animated GIF" />
        <h1>GITHUB EXPLO<span>REPO</span></h1>
        <h2>Explore Repos by Keyword or Author</h2>
        <!--Input-->
        <input type="search" ng-model="searchString" placeholder="Search Keyword or Author"/>
      </div>
        <ul>
      		<!-- Render a li element for every entry in the items array. Notice
      				 the custom search filter "searchFor". It takes the value of the
      				 searchString model as an argument.
      			 -->
      		<li ng-repeat="i in results">
      			<p>{{i}}</p>
      		</li>
      	</ul>
      <div>

      </div>
    </div>
    <!--Scripts-->
    <script src="app.js"></script>
  </body>
</html>
