<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Roberto Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  </head>

  </head>
  <body ng-app="repoApp">
    <div ng-controller="Ctrl">
      <div id="instructions">
        <!--Image-->
        <img id="gif" src="octocat.gif" alt="This will display an animated GIF" />
        <h1>GITHUB EXPLO<span>REPO</span></h1>
        <h2>Explore Repos by Keyword or Author</h2>
        <!--Search form-->
        <form ng-submit="search()">
          <input type="search" ng-model="searchString" placeholder="Enter to search"/>
          <input id="searchButton" type="submit" value="Search"/>
        </form>
        <div id="searchErrorMessage" ng-model="searchErrorMessage">
        </div>
      </div>

      <!-- Render a div for each result,  -->
      <div class="resultsList">
        <div ng-repeat="result in results">
          <!--initial div-->
          <div class="result" ng-click="$parent.expand(result.full_name)">
            <img class="avatar" ng-src="{{result.owner.avatar_url}}"/>
            <div><h2>{{result.full_name}}</h2></div>
          </div>

          <!-- Expanded details-->
          <div>
            <!-- text details -->
            <div>
              <!-- url -->
              <h3>{{result.html_url}}</h3>
              <!-- descriptions -->
              <h3>{{result.description}}</h3>
              <h3>{{result.watchers_count}}</h3>
            </div>

            <!-- language chart -->
            <div>
              <h2>{{language}}
            </div>
          </div>
      </div>
    </div>

    <!--Scripts-->
    <script src="app.js"></script>
  </body>
</html>
