body{
  background-image: url("congruent_outline.png");
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#instructions{
  color: rgba(55, 246, 229, 0.9)
}
#gif {
  border-radius: 50%;
  background-color: white;
  height: 300px;
  width: 300px;
  margin: 30px auto 0px auto;
}

span{
  color: rgb(223, 127, 17)
}

input[type=search] {
  font-size: 18px;;
  border: 0;
  padding: 5px;
  width: 60%;
}
#searchButton {
  background-color: rgba(55, 246, 229, 0.9);
  font-size: 18px;
  padding: 5px 16px;
  border:0;
}
input:focus {
    outline: none; /* overrides chrome default focus outline */
}
#searchErrorMessage{
  font-size: 14px;
  margin-top:10px;
  color: white;
}
.resultsList{
  margin: 80px auto;
  width: 70%;
}
.result{
  background-color: white;
  color: rgb(36, 36, 36);
  border-left: solid 5px rgb(223, 127, 17);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;;
  margin-top: 8px;
}
.result:hover {
  background-color: rgba(223, 127, 17, 0.58)
}
.avatar{
  height: 60px;
  border-radius: 50%;
  margin: 10px 15px;
}
.repoFullName {
  font-size: 30px;
}
@media only screen and (max-width: 768px){
  .resultsList{
    width: 100%;
  }
}
